# General
.git
.gitignore
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Python envs
.venv/
venv/
env/
py-streetgpt/

# Streamlit cache
.streamlit/

# Local data
*.xlsx
*.qsf
**/.ipynb_checkpoints/

# Docker
Dockerfile*
